/************* header.css *************/

#main_header{overflow:hidden; position:relative; height:235px;}

#cart{position:absolute; top:0; right:0; width:100px; height:49px; background:#cc3333; border-radius:0 0 5px 5px;}
#cart > a{display:block; float:left; }
#cart > a > img{display:block; margin-left:9px; margin-top:8px;}

#cart > p{float:left;}
#cart > p > a{display:block;  color:#fff; margin:14px 5px; font-size:13px; font-family:'Arial';}

#top_nav{overflow:hidden; background-color:#2a2b2c; height:34px; padding-top:4px; box-sizing:border-box; border-top:3px solid #cc3333;}

#icon{float:left;}
#icon > ul{overflow:hidden;}
#icon > ul > li{float:left; margin-right:5px;}
#icon > ul > li > a{display:block;}

#nav_top{float:right; margin-right:130px;}
#nav_top > ul{overflow:hidden;}
#nav_top > ul > li{float:left;}
#nav_top > ul > li > a{display:block; color:#fff; font-family:'Arial';}
#nav_top > ul > li > a:hover{color:#cc3333;}

#logo{float:left; margin-top:19px; margin-bottom:20px;}
#logo > a{display:block;}
#main_nav{float:right; margin-top:45px;}
#main_nav > ul{overflow:hidden;}
#main_nav > ul > li{float:left; margin-left:32px;}
#main_nav > ul > li > a{display:block; font-weight:bold; font-family:'Arial';}
#main_nav > ul > li > a:hover{color:#cc3333;}

#nav_bottom{clear:both; overflow:hidden; height:85px; width:100%; background:url(../images/line.png);}

#nav_bottom > .left{float:left;}
#nav_bottom > .left > ul{margin-top:23px;}
#nav_bottom > .left > ul > li{}
#nav_bottom > .left > ul > li > a{display:block; color:#fff;}

#nav_bottom > .left > ul > li:first-child > a{font-family:'Arial'; font-size:28px;}
#nav_bottom > .left > ul > li:last-child > a{font-family:'Arial'; font-size:12px;}


#nav_bottom > .right{margin-top:30px; float:right;}
#nav_bottom > .right > p{}
#nav_bottom > .right > p > a{display:block;}


#global_aside{
	position:absolute;
	 top:1315px;
	margin-left:1218px;

	width:30px;
}
#global_aside > a{display:block;}
#global_aside > a.top{
		 background:url(../images/top.png)no-repeat;
		 width:30px; height:30px;
	}


