@import url(reset.css);
@import url(header.css);
@import url(main_content.css);
@import url(footer.css);

/**************** master.css ********************************/
body{
	width:960px;
	margin:0 auto;
	background:url(../images/bg4.png) repeat-x,url(../images/line.png) repeat-x 10% 132px,url(../images/bg3.png) repeat-x 20%  bottom  , url(../images/bg2.png) repeat-x 20% 1332px , url(../images/bg1.png);
	background-position:
	background-size:
}

#main_header{
	width:100%;
	
}

#content_wrap{
	width:100%; 

}


#main_footer{
	width:100%; 
}