/*** reset. css *************/
*{margin:0; padding:0;}
body{font:14px "Arial", sans-serif; color:#000;}
h1, h2, h3, h4, h5, h6{font-weight:normal; font-size:1.0em;}
input, button, select, textarea, label{font:14px "Arial", sans-serif; color:#000;}
input, button, select, textarea, fieldset, img, iframe{border:none 0;}

ul, li{list-style:none;}
em, address{font-style:normal;}

a{text-decoration:none; color:#000;}

input#toggle{display:none;}

